# Dependency folders
node_modules/

# Build and distribution (Ignored in Git, but built dynamically or published via `files` array in package.json)
dist/
build/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System temporary files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Testing & Coverage
coverage/
.nyc_output/